<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <span class="navbar-brand font-weight-bold">Restaurante Gustov</span>
        <ul class="navbar-nav ml-auto"> 
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-center text-white" routerLink="/employees">EMPLEADOS</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-center text-white" routerLink="/vacation">VACACIONES</a>
            </li>
        </ul>
    </div>
</nav>