.expirado {
    background-color: rgba(255, 0, 0, 0.712);
    color: white;
    text-align: center;
}

.activo {
    background-color: rgba(0, 128, 0, 0.693);
    color: white;
    text-align: center;
}

.pendiente {
    background-color: rgba(128, 128, 128, 0.782);
    color: white;
    text-align: center;
}