<div class="p-5">

    <div class="d-flex justify-content-between mb-3">
        <div class="input-group w-25">
          <h1>Lista de Vacaciones</h1>
        </div>
        <button class="btn btn-success" routerLink="/vacation/createVacationRequest">+ Nueva Vacacion</button>
      </div>

    <table class="table border">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Fecha Inicio Vacacion</th>
                <th scope="col">Fecha Fin Vacacion</th>
                <th scope="col">Dias</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vacationRequest of vacationRequestList">
                <th scope="row">{{vacationRequest.id}}</th>
                <td>{{vacationRequest.Employee.names}} {{vacationRequest.Employee.surNames}}</td>
                <td>{{vacationRequest.startDateVacation | date:'yyyy-MM-dd'}}</td>
                <td>{{vacationRequest.endDateVacation}}</td>
                <td>{{0}}</td>
                <td>{{vacationRequest.status}}</td>
                <td>
                    <button class="btn btn-danger m-2" (click)="vacationRequest.id !== undefined ? OnDeleteVacationRequest(vacationRequest.id) : null">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
